.container {
    margin: 3% auto;
    border: 5px solid #D6D9CE;
    height: 300px;
    width: 100%;
    max-width: 400px; 
}

h1,p {
    text-align: center;
}

h1 {
    color: #2AB7CA;
}

button {
    margin-left: 2%;
    border: 2px solid #2AB7CA;
}

.reset-btn{
    margin-left: 40%;
}